<!doctype html>
<html lang="en">
<head>
    <!-- Webpage Title -->
    <title>로그인</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--구글폰트-->
    <link href="https://fonts.googleapis.com/css?family=Jua:400" rel="stylesheet">

    <style>
        * {
            font-family: 'Jua', cursive;
        }

        .title {
            font-size: 70px;
        }

        .subtitle {
            font-size: 30px;
            color: white;
        }

        .help {
            font-size: 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<section class="hero is-primary">
    <div class="hero-body has-text-centered">
        <p class="title">
            두유노우?
        </p>
        <p class="subtitle">
            친구와 함께 외우는 영어 단어장
        </p>
    </div>
</section>
<div class="box" style="max-width: 480px; margin: 100px auto auto auto;">
    <form action="/user/login" method="post">
        <div class="login-id-label">아이디</div>
        <input type="text" name="username" class="login-input-box">

        <div class="login-id-label">비밀번호</div>
        <input type="password" name="password" class="login-input-box">

        <button id="login-id-submit">로그인</button>
    </form>
    <p id="help-register" class="help">아직 계정이 없다면?</p>

    <div class="field is-grouped is-grouped-centered">
        <p class="control">
            <a id='signup' class="button is-light" href="/user/signup">
                회원가입
            </a>
        </p>
    </div>
</div>
</body>
</html>